Source: epics-pmacutil-dev
Section: devel
Priority: optional
Maintainer: Daron Chabot <dchabot@bnl.gov>
Build-Depends: debhelper (>= 9),
               epics-dev,
               epics-asyn-dev,
               epics-calc-dev,
               epics-stream-dev,
               epics-motor-dev,
               epics-busy-dev,
Standards-Version: 3.9.6
Homepage: http://controls.diamond.ac.uk/downloads/support/pmacUtil/

Package: epics-pmacutil-dev
Architecture: all
Depends: ${misc:Depends}
Recommends: epics-pmacasyn-dev, epics-stream-dev
Description: Utilities supporting PMAC operation within EPICS.
 This package contains PLC and EPICS database templates supporting
 motion control applications using Delta Tau Turbo PMAC hardware.
 .
 Includes status reporting, opi screens, and database templates.
