Source: epics-pmacutil-dev
Section: unknown
Priority: optional
Maintainer: djc <djc@TooLBox.local>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/epics-pmacutil-dev.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/epics-pmacutil-dev.git;a=summary

Package: epics-pmacutil-dev
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
